matrixprofile  # custom fork: pip install git+https://github.com/mitchellpkt/matrixprofile
isthmuslib  # pre-dist top: pip install git+https://github.com/mitchellpkt/python-isthmuslib
jupyter
numpy==1.22
pandas
